.centered-container {
    text-align: center;
    margin-top: 100px;
}

.button-group {
    margin-top: 20px;
}

button.primary-btn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.secondary-btn {
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.primary-btn:hover {
    background-color: #2980b9;
}

button.secondary-btn:hover {
    background-color: #27ae60;
}
